body {
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans", sans-serif !important;
    background-image: url('https://res.cloudinary.com/kimchidrwas/image/upload/v1646248021/Portafolio%20UI%20%2A/Fondo_qth7xh.png');
    background-size: 100%;
}

div,
ul,
li,
section,
a,
p,
figure,
img {
    margin: 0px;
    padding: 0px;
}

.canvas-responsive {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-name>img {
    position: absolute;
    top: 5%;
    margin: auto;
    right: 0%;
    left: 0%;
    width: 110vh;
}

.curtain-left>img {
    position: absolute;
    top: 0vh;
    width: 12vh;
    height: 100%;
}

.curtain-right>img {
    position: absolute;
    top: 0vh;
    right: 0vh;
    width: 12vh;
    height: 100%;
}

.birds-photos>img {
    position: absolute;
    left: 14%;
    top: 34%;
    width: 22vh;
}

.birds-photos {
    transition: 300ms all;
}

.birds-photos:hover {
    opacity: 60%;
}

.birds-name {
    position: absolute;
    font-size: 2.5vh;
    font-style: italic;
    visibility: hidden;
    color: #e26b9bd5;
    font-family: "Mansalva", cursive;
}

.haru {
    z-index: 1;
    top: 38.5%;
    left: 21%;
}

.jojo {
    z-index: 1;
    top: 30.5%;
    left: 14.6%;
}

.plants-left>img {
    position: absolute;
    left: 2.5%;
    bottom: 0%;
    width: 32vh;
}

.plants-right>img {
    position: absolute;
    top: 17%;
    right: 0vh;
    width: 42vh;
}

.desk>img {
    position: absolute;
    margin: auto;
    right: 0%;
    bottom: 0%;
    left: 0%;
    width: 138vh;
}

.desk-movil>img {
    position: absolute;
    visibility: hidden;
}

.chair-movil>img {
    position: absolute;
    visibility: hidden;
}

.floor-movil>img {
    position: absolute;
    visibility: hidden;
}

.bed-movil>img {
    position: absolute;
    visibility: hidden;
}

.birds-movil>img {
    position: absolute;
    visibility: hidden;
}

.top>img {
    position: absolute;
    margin: auto;
    right: 0%;
    bottom: 15.6%;
    left: 0%;
    width: 49vh;
}

.books>img {
    position: absolute;
    top: 76.1%;
    left: 19%;
    width: 18vh;
}

.cactus>img {
    position: absolute;
    top: 70.7%;
    left: 29%;
    width: 11.7vh;
}

.keyboard>img {
    position: absolute;
    margin: auto;
    right: 0%;
    bottom: 15.8%;
    left: 0%;
    width: 32vh;
}

.screen>img {
    position: absolute;
    margin: auto;
    right: 0%;
    bottom: 22.7%;
    left: 0%;
    width: 54vh;
}

.mouse>img {
    position: absolute;
    top: 80%;
    left: 67%;
    width: 7.5vh;
}

.movil>img {
    position: absolute;
    top: 67.6%;
    left: 75%;
    width: 7.15vh;
}

.title {
    position: absolute;
    font-size: 3vh;
    color: black;
    transition: 300ms all;
}

.title:hover {
    color: rgb(255, 255, 255);
    text-shadow: -1px 0 8px #e695b7, 0 1px 8px #e695b7, 1px 0 8px #e695b7, 0 -1px 8px #e695b7;
    cursor: pointer;
    transform: scale(1.05);
}

.aboutme {
    top: 67%;
    left: 20%;
}

.webdesign {
    top: 37%;
    left: 46%;
}

.movildesign {
    top: 60%;
    left: 72.5%;
}

.hour {
    z-index: 1;
    position: absolute;
    top: 59%;
    left: 39.5%;
    color: rgba(241, 234, 221, 0.712);
    font-size: 5vh;
}

.date {
    z-index: 1;
    position: absolute;
    top: 65%;
    left: 39.5%;
    color: rgba(241, 234, 221, 0.712);
    font-size: 2.2vh;
}

.container-fluid {
    padding: 0% 10% 0% 10% !important;
}

/*ABOUT*/
.about-id {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24%;
    height: 67vh;
    margin: 50px 50px 50px 0px;
    padding: 35px 20px;
    background-image: url(https://res.cloudinary.com/kimchidrwas/image/upload/v1647377099/Portafolio%20UI%20%2A/About/id_card_hqjuol.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 40px rgb(0 0 0 / 15%);
}

.about-id>p {
    margin: 0px;
}

.hook {
    z-index: 1;
    margin-top: -2.5%;
    left: 17.1%;
    position: fixed;
}

.hook>img {
    width: 9vh;
    height: 15.5vh;
}

.circle {
    background: rgba(109, 109, 109, 0.336);
    border-radius: 50%;
    width: 3.5vh;
    height: 3.5vh;
    margin-top: -7% !important;
}

.id-title {
    margin-bottom: 10px !important;
    font-size: 4.5vh;
    color: #f991b0;
    font-weight: bold;
    font-variant: small-caps;
}

.id-img {
    width: 20vh;
    border: 5px solid white;
    border-radius: 5px;
}

.id-name {
    font-size: 2.5vh;
    margin-bottom: 2px;
    color: #000000bd;
    font-weight: bold;
    font-variant: small-caps;
}

.id-subtitle {
    margin-top: -3px !important;
    margin-bottom: 20px !important;
    font-size: 2vh;
    color: #0000009a;
    font-weight: bold;
    font-style: italic;
}


.id-detail {
    font-size: 1.8vh;
    font-style: italic;
    font-weight: 600;
    color: #00000093;
}

.id-bar {
    z-index: 1;
    width: 20vh;
    height: 4vh;
    margin-top: 31% !important;
}

.description {
    width: 76%;
}

/*DESC*/
.desc-title {
    display: flex;
    justify-content: center;
    font-size: 4.5vh;
    margin-top: -5.5%;
    margin-bottom: 5%;
}

.desc-subtitle {
    display: flex;
    justify-content: center;
    font-size: 3.2vh;
    margin-bottom: 2.5%;
}

.desc-text {
    display: flex;
    justify-content: center;
    text-align: justify;
    margin-top: 2%;
    padding-bottom: 2.5%;
    font-size: 2.2vh;
    font-weight: 300;
}

.about-cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 25px 0px 25px;
    padding: 4.5%;
    height: 47vh;
    width: 48vh;
    background-color: #ffb3cb;
    transition: 300ms all;
}

.cards:hover {
    transform: scale(1.05);
}

.aicon {
    text-align: center;
    font-size: 6vh;
    margin: 2.5%;
    color: #212529;
}

.atitle {
    font-variant: small-caps;
    font-size: 3.2vh;
    font-weight: bolder;
    color: #212529;
}

.a-subtitle {
    font-variant: small-caps;
    font-size: 2.2vh;
    margin-top: -7% !important;
    margin-bottom: 3% !important;
    font-weight: bold;
    color: #212529;
}

.content {
    text-align: center;
    font-size: 1.8vh;
    color: #212529;
}

.a-line {
    width: 15%;
    background-color: rgb(0, 0, 0);
    border-top: 1.5px solid rgb(0, 0, 0);
}

/*WEB*/
.link {
    padding: 0%;
    width: 45%;
}

.web-laptop>img {
    width: 60vh;
    margin-top: 35%;
}

.web-laptop>img:hover {
    filter: brightness(55%);
    cursor: pointer;
}

.view-page {
    position: absolute;
    font-size: 4vh;
    font-style: italic;
    visibility: hidden;
    color: #ffffffd5;
    font-family: "Mansalva";
    z-index: 1;
    top: 61%;
    left: 12%;
}

.web-options {
    width: 10%;
    position: fixed;
    margin: auto;
    top: 24%;
    right: -1%;
    bottom: 0%;
}

.web-options>img {
    border-radius: 100%;
    cursor: pointer;
    padding: 6%;
    width: 14vh;
    height: 14vh;
    transition: 300ms;
    filter: brightness(80%);
}

.web-options>img:hover {
    opacity: 100%;
    transform: scale(1.2);
    filter: brightness(110%);
}

.web-page {
    visibility: hidden;
}

.page1 {
    position: absolute;
}

.pages {
    position: absolute;
    top: 45px;
}

.desc-image {
    text-align: center;
}

.desc-image>img {
    border-radius: 10px;
    margin-bottom: 40px;
    width: 90%;
}

.big-wire {
    text-align: center;
    margin-bottom: 40px;
}

.big-wire>img {
    border-radius: 10px;
    width: 70%;
}

.desc-wireframes {
    display: flex;
    text-align: center;
    width: 90%;
    margin-bottom: 30px;
}

.desc-wireframes>img {
    border-radius: 10px;
    width: 50%;
    margin-left: 15px;
    height: max-content;
}

/*MOVIL*/
.movil-proto {
    text-align: center;
}

.movil-proto>img {
    width: 70%;
    margin-top: 3%;
}

.movil-proto>img:hover {
    filter: brightness(55%);
    cursor: pointer;
}

.view-proto {
    position: absolute;
    font-size: 3.5vh;
    font-style: italic;
    visibility: hidden;
    color: #ffffffd5;
    font-family: "Mansalva";
    z-index: 1;
    top: 4%;
    left: 9%;
}


/*MODAL*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
    z-index: 3;
    display: block;
    color: white;
    flex-direction: row !important;
    border: none !important;
    background-color: transparent !important;
}

.modal-content {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.8s;
    animation-name: zoom;
    animation-duration: 0.8s;
}

@-webkit-keyframes zoom {
    from {
        /*-webkit-transform: scale(1);*/
        opacity: 1;
    }

    to {
        /*-webkit-transform: scale(0);*/
        opacity: 0;
    }
}

@keyframes zoom {
    from {
        /*transform: scale(0);*/
        opacity: 0;
    }

    to {
        /*transform: scale(1);*/
        opacity: 1;
    }
}

/* Close Button */
.close {
    z-index: 3;
    position: absolute;
    top: 25px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}