/* BIG*/
@media only screen and (min-height: 1080px) {
  .header-name>img {
    width: 100vh;
  }

  .plants-left>img {
    bottom: 0%;
    left: 1%;
    width: 28vh;
  }

  .plants-right>img {
    width: 42vh;
  }

  .hour,
  .date {
    left: 37.5%;
  }

  .about-id {
    margin: 60px 50px 50px 0px;
    height: 57vh;
  }

  .hook {
    margin-top: -3.12%;
    left: 17.5%;
  }

  .hook>img {
    width: 7vh;
    height: 14vh;
  }

  .circle {
    margin-top: -4% !important;
  }

  .id-title {
    font-size: 4vh;
  }

  .id-img {
    width: 17vh;
  }

  .id-bar {
    width: 20vh;
    height: 4vh;
    margin-top: 25% !important;
  }

  .movil-proto>img {
    width: 80%;
    margin-top: 25%;
  }

  .view-proto {
    font-size: 3.2vh;
    top: 5%;
    left: 6%;
  }
}

/* MEDIUM */
@media only screen and (max-width: 1368px) {
}

/* SMALL */
@media only screen and (max-width: 768px) {}